.resume-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  max-height: 100%;
  margin: 0 auto;
}

.resume-info h1 {
  font-size: 2rem;
  font-weight: 600;
  color: var(--secondary);
  margin-bottom: 20px;

}

.resume-line  {
  width: 1px;
  height: 100%;
  background-color: var(--secondary);
  margin: 0 10px;
}

.resume-info p {
  font-size: .9rem;
  font-weight: 300;
  color: var(--white);
  width: 60ch;
  line-height: 1.3rem;
}

.skills-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
}

.skills-header-buttons {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.resume-header{
  display: flex;
  flex-direction: row;
}

.resume-header-buttons {
  display: flex;

}
.resume-header-buttons button {
  margin: 0;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: none;
  background: none;
  color: var(--white);
  font-size: .8rem;
  font-weight: 300;
  cursor: pointer;
  text-align: left;

}

.skills-header-buttons button {
  margin: 0;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: none;
  background: none;
  color: var(--white);
  font-size: .8rem;
  font-weight: 300;
  cursor: pointer;
  text-align: left;
}

#lines {
  display: flex;
  flex-direction: row;
  align-items: center;
  
}

#lines1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
#lies1 {
  height: 1px;
  width: 4rem;
  background-color: var(--secondary);
  margin: 0 10px;
  transition: all .5s ease-in-out;
}

#lies1-active {
  height: 1px;
  width: 4rem;
  background-color: var(--white);
  margin: 0 10px;
  transition: all .5s ease-in-out;
}


#lies {
  height: 50px;
  width: 4px;
  background-color: var(--secondary);
  margin: 0 10px;
  transition: all .5s ease-in-out;
}

#lies-active {
  height: 50px;
  width: 4px;
  background-color: var(--white);
  margin: 0 10px;
  transition: all .5s ease-in-out;
}

.education-header{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 400px;

}

.skills-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 400px;
}

.skills-header h2 {
  font-size: 1.5rem;
  font-weight: 300;
  color: var(--white);
  text-align: center; /* Add this property to center-align the text */
}

.skills-header p {
  font-size: 0.8rem;
  font-weight: 300;
  color: var(--white);
  text-align: center; /* Add this property to center-align the text */
}

.skills-header ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  list-style: none;
}

.skills-header ul li {
  text-align: center; /* Add this property to center-align the text */
  margin-bottom: 10px;
}



/* Extra Small Devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  /* Your styles for extra small devices go here */
  
  .resume-info h1 {
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--secondary);
    margin-bottom: 20px;
  
  }
  
  .resume-info p {
    font-size: .9rem;
    font-weight: 300;
    color: var(--white);
    width: 40ch;
    line-height: 1.3rem;
  }
  
  .skills-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .skills-header-buttons {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  

  
  #lines {
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  
  #lines1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  #lies1 {
    height: 1px;
    width: 4rem;
    background-color: var(--secondary);
    margin: 0 10px;
    transition: all .5s ease-in-out;
  }
  
  #lies1-active {
    height: 1px;
    width: 4rem;
    background-color: var(--white);
    margin: 0 10px;
    transition: all .5s ease-in-out;
  }
  
  
  #lies {
    height: 4px;
    width: 3rem;
    background-color: var(--secondary);
    margin: 0 5px;
    transition: all .5s ease-in-out;
  }
  
  #lies-active {
    height: 4px;
    width: 3rem;
    background-color: var(--white);
    margin: 0 5px;
    transition: all .5s ease-in-out;
  }
  


  
  .skills-header h2 {
    font-size: 1.5rem;
    font-weight: 300;
    color: var(--white);
    text-align: center; /* Add this property to center-align the text */
  }
  
  .skills-header p {
    font-size: 0.8rem;
    font-weight: 300;
    color: var(--white);
    text-align: center; /* Add this property to center-align the text */
  }
  
  .skills-header ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    list-style: none;
  }
  
  .skills-header ul li {
    text-align: center; /* Add this property to center-align the text */
    margin-bottom: 10px;
  }
  
  
}

/* Small Devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 601px) and (max-width: 768px) {
  /* Your styles for small devices go here */
}

/* Medium Devices (landscape tablets and small desktops, 769px and up) */
@media only screen and (min-width: 769px) and (max-width: 992px) {
  /* Your styles for medium devices go here */
}

/* Large Devices (desktops, 993px and up) */
@media only screen and (min-width: 993px) {
  /* Your styles for large devices go here */
}