/* About me section css */
/* font-family: Open Sauce,arial; */
.about {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    height: 100%;
    width: 100%;
    max-width: var(--width);
    margin: 10% auto 5% auto;
    overflow: hidden;
  }



  .about-bg {
  background-color: var(--rgba);
  position: absolute;
  width: 200vw;
  height: 100vh;
  transform: rotate(20deg);
  z-index: 1;
  opacity: 1;
  overflow: hidden;
  }
  .about-header h2 {
    color: var(--tertiary);
    font-size: 10rem;
    transition: var(--transition);
   }


  .about-content {
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    z-index: 2;
    overflow: hidden;
  }
  
  .about-content p {
    width: 100%;
    max-width: 100ch;
    margin-bottom: 20px;
    font-size: 2.5rem;
    transition: var(--transition);
  }

  .about-image img {
    width: 500px;
    height: 500px;
    border-radius: 100%;
  }


  /* About me section css */
  @media screen and (max-width: 768px){
    .about {
      width: 95%;
    }
    .about-content p {
      width: 100%;
      max-width: 100ch;
      margin-bottom: 20px;
      font-size: 1.2rem;
    }
    
  
  }
 
  @media screen and (max-width: 1200px){
    .about {
      width: 95%;
    }

    .about-content p {
      width: 100%;
      max-width: 100ch;
      margin-bottom: 20px;
      font-size: 2rem;
    }
  
  }

  @media screen and (max-width: 1500px){
    .about {
      width: 95%;
    }

    .about-content p {
      width: 100%;
      max-width: 100ch;
      margin-bottom: 20px;
      font-size: 2rem;
    }
  }

