 header {
  width: 100%;
  text-align: center;  
  height: 70px;
  max-width: var(--width);
  margin: 0 auto;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100%;

}


.navbar-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 20px;
  margin-right: 25px;
  margin-left: 25px;

}

.navbar-nav {
  display: flex;
  flex-direction: row;
  margin-right: 40px;
  padding-top: 10px;

}

.navbar-nav li {
  margin: 0 20px;
  font-size: 20px;
  list-style: none;
}

.navbar-brand {
  color: var(--white);
  font-size: 1.5rem;
  text-decoration: none;
  border: none;
  background: none;
  cursor: pointer;
  margin-left: 10px;
}
.navbar-brand:hover {
  color: var(--goldenYellow);
  text-decoration: none;
}

.navbar-toggler {
  background-color: transparent;
  border: none;
  color: #ffffff;
  cursor: pointer;
  display: none;
  font-size: 1.5rem;
}
.navbar-container ul li button {
  display: inline-block;
  position: relative;
  padding: 0 0 5px; /* Add padding to create space for the underline */
  color: var(--white); /* Text color */
  text-decoration: none; /* Remove default underline */
  transition: padding 0.3s; /* Smooth padding transition on hover */
  scroll-behavior: smooth;
  border: none;
  background: none;
  font-size: 17px;
}
.navbar-container ul li button:hover {
  display: inline-block;
  position: relative;
  color: var(--goldenYellow);
  transition: all 0.5s ease-in-out;
  text-decoration: none; 
}

.navbar-container ul li button:hover::before {
  background-color: rgba(255, 255, 0, 0.7); /* Yellow RGBA underline color on hover */
}
  .contact-link{
    background-color: #000000;
    color: var(--goldenYellow);
    border: none;
    border-radius: 5px;
    padding: 5px 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }

  .ctn{
    color: var(--goldenYellow);
    text-decoration: none;
  }



@media (max-width: 767px) {
  header {
    width: 100%; 
    overflow: hidden;  
  }
  .navbar-toggler {
    display: block;
    z-index: 999;
  }

  .navbar-nav {
    display: none;
  }



.navbar-open {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgba(0, 0, 0, .8);
  border-radius: 0;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  transform: translateY(0);
  transition: all 0.3s ease-in-out;
  height: 100%;
  max-height: 100%;
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: 6; /* Place it above other elements */
}

.navbar-container ul li {
  margin: 30px 0;
}




}