
footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 100%;
    max-width: var(--width);
    margin: 0 auto;
    overflow: hidden;
}

.connect {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

  .social {
    padding-top: 50px;
  }

  .connect ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
  }

    .connect ul li {
        list-style: none;
        margin: 0 10px;
    }

    .connect ul li a {
        margin: 0 10px;
        font-size: 2.5rem;
        transition: var(--transition);
    }

    .connect ul li a:hover {
      color: var(--tertiary);
    }


@media screen and (min-width: 50px ) and (max-width: 800px) {
  footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 100%;
}

.connect {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
  .connect h2 {
    font-size: 2.3rem;
    text-align: center;
    margin: 0 auto;
  }

  .social {
    margin-top: 2%;
  }

  .connect ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
  }

    .connect ul li {
        list-style: none;
        margin: 0 10px;
    }

    .connect ul li a {
        font-size: 1.9rem;
        margin: 0 10px;
    }

    
}

@media screen and (min-width: 801px ) and (max-width: 1100px) {
  footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 100%;
}

.connect {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
  .connect h2 {
    font-size: 2.3rem;
    text-align: center;
    margin: 0 auto;
  }

  .social {
    margin-top: 2%;
  }

  .connect ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
  }

    .connect ul li {
        list-style: none;
        margin: 0 10px;
    }

    .connect ul li a {
        font-size: 1.9rem;
        margin: 0 10px;
    }
}
 