.cursor {
  width: 50px; /* Adjust the size of the cursor */
  height: 50px; /* Adjust the size of the cursor */
  border: none; /* White circular border */
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid var(--tertiary);
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 9999;
  mix-blend-mode: difference; /* Makes the cursor visible over different backgrounds */
  pointer-events: none;
  transform-origin: center;

}

  @media screen and (max-width: 1550px) {
    .cursor {
      display: none;
    }
  }