* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
  --primary:  #323333;
  --secondary: #C0C0C0;
  --teal: #37B6BD;
  --text: #ffffff;
  --textp: #AAB7B8;
  --white: #FFF;
  --black: #000;
  --light-black: #1f1e1e;
  --transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
  --mint: #6AC9A8;
  --CrispWhite: #FFFFFF;
  --goldenYellow: #FFD700;
  --slateBlue: #6A5ACD;  
  --lightSlateBlue: #a094f3;
  --lightCharcoal: #777777;
}



.hero {
  /* Photo by <a href="https://unsplash.com/@estherrj?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Esther Jiao</a> on <a href="https://unsplash.com/photos/3HqSeexXYpQ?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a> */
  /* background-image: linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,.2)),  url("https://images.unsplash.com/flagged/photo-1551301622-6fa51afe75a9?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80"); 
  position: relative;
  min-height: 100%;
  width: 100%;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 4rem;
  padding-bottom: 6rem; */
    backdrop-filter: blur(10px);
   background-color: var(--primary);
   /* background-color: var(--primary); */

}

html {
  background-color: var(--primary);
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;

}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-weight: 600;
  line-height: 1.5;
  font-size: 18px;
  letter-spacing: 0.1em;
  font-family: 'Poiret One', cursive;
  scroll-behavior: smooth;
}

h1 {
  color: var(--white);
}


button:hover {
  opacity: 0.8;
}

a {
  
  text-decoration: none;
  transition: var(--transition);
}




 /* Home section css */
 /* .home-border {

  
  background-color: #181520;
  box-shadow: #002c55;
  border-radius: 10px;
  width: 100%;
  height: 10in;
  padding: 0 0 0 0;
  color: #fff;

 } */

 .home-text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: left;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
 }

 
 .home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  height: 100vh;

 }

 .home-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  height: 100vh;
  
 }

 /* .line {
  width: 160px; 
  height: 2px;
  background-color: #FFD700; 
} */

.cover {
  background-color: rgba(255, 215, 0, .8);
  width: 334px;
  height: 15px;
  position: absolute;
  top: 283px;
}

 .home-text-name {
  margin-right: 150px;
  margin-bottom: 245px;
 }

 .home-text-content {
  margin-left: 200px;
  margin-bottom: 100px;
 }



 .home-content p {
  font-size: 20px;
  color: var(--textp);
  width: 38ch;
  margin: 20px 0;
 }

 .home-content h4 {
  color: #777777;
  font-size: 40px;
 }


.borderTech {

  margin-top: 100px;
  color: var(--text);
  font-size: 20px;

 
}
.borderTech ol h3 {
  font-size: 50px;
  color: var(--text);
}
.borderTech  ol {
  display: flex;
  flex-direction: row;

}
.borderTech  ol li {
  list-style: none;
  margin: 0 20px;
  font-size: 50px;
}
.home-content h1 {
  font-size: 60px;
  color: var(--text);
}
.home-content h2 {
  font-size: 80px;
  color: var(--textp);
 
}
.home-content h3 {
  font-size: 40px;
  width: 20ch;
  color: var(--white);
}

.letterHover:hover{
  color: var(--secondary);
  animation: bounce 0.5s infinite;
}



.links {

  font-size: 100px;
  transition: var(--transition);
}

.icons {
  margin-top: 50px;
}

.icons a {
  
  font-size: 60px;
  color: var(--goldenYellow);
}
.icons a:hover {
  color: var(--lightCharcoal);
}
.design {
  color: var(--goldenYellow);
}

.lp {
  color: var(--goldenYellow);
}

.learn-more  {
  color: var(--goldenYellow);
  background-color: var(--black);
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 20px;
  margin-top: 50px;
  transition: var(--transition);
}

.quote {
  color: var(--textp);
  position: relative;
  font-size: 10px;
  top: 300px;
  width: 55ch;

}
.quote-name {
  color: var(--goldenYellow);
}

.learn-more a {
  color: var(--goldenYellow);
}

 /* Home section css end */

 @media screen and (min-width: 50px ) and (max-width: 344px) {
  .home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    height: 100%;
    max-height: 100%;
    width: 100%;
  }

  .home-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    margin: 0 0 150px 0;
   }


  .home-text-name {
    margin: 0;
   }

   .home-text-content {
    margin: 0;
   }

   .h2n {
    display: none;
   }

   .line {
    display: none;
   }
   .home-content h1 {
    font-size: 25px;
    color: var(--text);
  }
  .home-content h2 {
    font-size: 25px;
    color: var(--textp);
   
  }
  .home-content h3 {
    font-size: 20px;
    width: 20ch;
    color: var(--white);
  }

  .home-content p {
    font-size: 12px;
    color: #777777;
    width: 38ch;
    margin: 10px 0;
   }
   .icons {
    text-align: center;
   }
   .icons a {
    font-size: 25px;
    transition: var(--transition);
    color: var(--goldenYellow);
    margin-right: 20px;

  }
  .icons a:hover {
    color: #777777;
  }

  .quote {
    position: relative;
    top: 0;
    width: 99%;
  }

  .learn-more  {
    color: var(--goldenYellow);
    background-color: var(--black);
    border: none;
    padding: 10px 10px;
    border-radius: 10px;
    font-size: 15px;
    margin-top: 5px;
    transition: var(--transition);
  }
 }



   @media screen and (min-width: 345px ) and (max-width: 800px) {
    * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
      .home-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: left;
        height: 100%;
        max-height: 100%;
        width: 100%;
        
      }

      .home-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: left;
        margin: 0 0 150px 0;
       }


      .home-text-name {
        margin: 0;
       }

       .home-text-content {
        margin: 0;
       }

       .h2n {
        display: none;
       }

       .line {
        display: none;
       }
       .home-content h1 {
        font-size: 35px;
        color: var(--text);
      }
      .home-content h2 {
        font-size: 35px;
        color: var(--textp);
       
      }
      .home-content h3 {
        font-size: 25px;
        width: 20ch;
        color: var(--white);
      }

      .home-content p {
        font-size: 15px;
        color: #777777;
        width: 38ch;
        margin: 20px 0;
       }
       .icons a {
        font-size: 45px;
        transition: var(--transition);
        color: var(--goldenYellow);
        margin-right: 50px;
      }
      .icons a:hover {
        color: #777777;
      }

      .quote {
       position: relative;
       top: 0;
      }
       }

       @media screen and (min-width: 801px) and (max-width: 1000px) {
        * {
          box-sizing: border-box;
          margin: 0;
          padding: 0;
          font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }
          .home-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: left;
            height: 100vh;
          }
    
          .home-text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: left;
            margin: 0 0 150px 0;
           }
    
    
          .home-text-name {
            margin: 0;
           }
    
           .home-text-content {
            margin: 0;
           }
    
           .h2n {
            display: none;
           }
    
           .line {
            display: none;
           }
           .home-content h1 {
            font-size: 35px;
            color: var(--text);
          }
          .home-content h2 {
            font-size: 35px;
            color: var(--textp);
           
          }
          .home-content h3 {
            font-size: 25px;
            width: 20ch;
            color: var(--white);
          }
    
          .home-content p {
            font-size: 15px;
            color: #777777;
            width: 38ch;
            margin: 20px 0;
           }
           .icons a {
            font-size: 45px;
            transition: var(--transition);
            color: var(--goldenYellow);
            margin-right: 50px;
          }
          .icons a:hover {
            color: #777777;
          }
    
          .quote {
           position: relative;
           top: 0;
          }
       
       }


       @media screen and (min-width: 1001px) and (max-width: 1482px) {
        * {
          box-sizing: border-box;
          margin: 0;
          padding: 0;
          font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }
          .home-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: left;
            height: 100vh;
          }
    
          .home-text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: left;
            margin: 0 0 150px 0;
           }
    
    
          .home-text-name {
            margin: 0;
           }
    
           .home-text-content {
            margin: 0;
           }
    
           .h2n {
            display: none;
           }
    
           .line {
            display: none;
           }
           .home-content h1 {
            font-size: 35px;
            color: var(--text);
          }
          .home-content h2 {
            font-size: 35px;
            color: var(--textp);
           
          }
          .home-content h3 {
            font-size: 25px;
            width: 20ch;
            color: var(--white);
          }
    
          .home-content p {
            font-size: 15px;
            color: #777777;
            width: 38ch;
            margin: 20px 0;
           }
           .icons a {
            font-size: 45px;
            transition: var(--transition);
            color: var(--goldenYellow);
            margin-right: 50px;
          }
          .icons a:hover {
            color: #777777;
          }
    
          .quote {
           position: relative;
           top: 0;
          }
        
       }

