@import url('https://fonts.googleapis.com/css?family=Bebas+Neue');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --background: #0c0c0c;
  --primary:  #d6d6d6;
  --secondary: #858684;
  --tertiary: #9DBFEC;
  --quaternary: #1F1A1F;
  --rgba: rgba(195, 167, 232, 0.2);
  --rgbaa: rgba(0, 0, 0, 0.7);
  --header:  #292828;
  --textp: #b7ab98;
  --white: #ecedee;
  --black: #000;
  --transition: all 0.5s cubic-bezier(0.645,0.045,0.355,1);
  --goldenYellow:  #eb5939;
  --lightCharcoal:  #777777;
  --darkSkyBlue:  #324ecf;
  --test: #363636;
  --width: 1300px;
}


html {
  scroll-behavior: smooth;
  background-color: var(--background);
  height: 100%;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-weight: 600;
  line-height: 1.1;
  font-size: 18px;
  letter-spacing: -.015em;
  scroll-behavior: smooth;
  font-family: Open Sauce,arial,sans-serif;
  color: var(--primary);
  background-color: var(--background);
  overflow-x: hidden;
  transition: var(--transition);
}


h1,h2,h3,h4 {
  color: var(--primary);
}
button {
  font-family: Open Sauce,arial,sans-serif;
  font-size: .7rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  padding: 1rem 3rem;
  border: 2px solid var(--white);
  background-color: none;
  background: transparent;
  color: var(--white);
  cursor: pointer;
  transition: var(--transition);
  display: inline-block;
  outline: none;
  z-index: 1;
}


button:hover {
  opacity: 0.8;
}

a {
  font-size: inherit;
  text-decoration: none;
  transition: var(--transition);
  color: inherit;

}

a.Active {
  color: var(--tertiary);
  transition: var(--transition);
}

h1 {
  font-family: Avant Garde,sans-serif;
  font-size: 2.5rem;
  color: var(--primary);
  z-index: 2;
}

h2{
  font-family: Avant Garde,sans-serif;
  font-size: 4rem;
  color: var(--primary);
  z-index: 2;
  margin-bottom: 2%;
}
h3{
  font-size: 2rem;  
  color: var(--tertiary);
}

h4, h5, h6 {
  font-family: Avant Garde,sans-serif;
  font-size: 2rem;
  color: var(--primary);
  z-index: 2;
}

p{
  font-family: Avant Garde,sans-serif;
  font-style: normal;
  font-weight: 700;
  color: var(--primary);
  width: 100%;
  max-width: 60ch;
  font-size: 1.5rem;
  letter-spacing: -.025em;
  line-height: 1.2;
  z-index: 2;
}

.header-one {
  position: absolute;
  transform: rotate(-90deg);
  opacity: 0.2;
  left: -350px;
  z-index: 2;
  overflow: hidden;
  }

  .header-one h2 {
    color: var(--tertiary) !important;
    font-size: 10rem !important;
    font-weight: 600;  
  }

  .header-two {
  position: absolute;
  transform: rotate(-90deg);
  opacity: 0.2;
  right: -350px;
  z-index: 2;
  overflow: hidden;
  }

  .header-two h2 {
    color: var(--tertiary) !important;
    font-size: 10rem !important;
    font-weight: 600;
  }

  .header-two div {
    overflow: hidden;
  }





 /* Home section css */
 .home-section-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  max-width: var(--width);
  margin: 0 auto;
  z-index: 2;
  overflow: hidden;
 }

 .home-header {
   display: flex;
    flex-direction: row;
 }

 .home-header-content {
   margin-left: 10px;
   display: flex;
   flex-direction: column;
 }

 .home-header-content h1 {
    font-size: 5rem;
    z-index: 3;
 }
 
 .home-header-content h3{
    font-size: 3rem;
    z-index: 3;
 }
 .home-header-content p{
    font-size: 2.5rem;
    width: 100%;
    max-width: 60ch;
    z-index: 3;
 }
   .head-section{
      display: flex;
      flex-direction: row;
      justify-content: left;
      align-items: center;
      margin: 5% 0;
      cursor: pointer;
   }

   .home-mid {
   }

   .home-mid ul {
      display: flex;
      flex-direction: row;
      justify-content: center;
   }

    .home-mid ul li {
        list-style: none;
        margin: 3rem 6rem 0 0;
    }

   .head-end {
      display: flex;
      justify-content: left;
   }


   .head-end ul {
      display: flex;
      flex-direction: row;
      justify-content: left;
      align-items: flex-start;
      z-index: 2;
   }

   .head-end ul li {
      list-style: none;
      margin: 20px 20px 0 0;
   }

   .head-end ul li a {
      color: var(--primary);
      font-size: 2.5rem;
      transition: var(--transition);
   }
   .head-end ul li a:hover {
      color: var(--tertiary);
   }

   .color-change{
    color: var(--tertiary);
   }
   .home-header-image{ 

      z-index: 2;
   }
   .img-me {
      width: 500px;
      height: 600px;
   
   }


 /* Home section css end */

 @media screen and (max-width: 768px){

  .home-section-container{
    height: 100vh;
    max-height: 100%;
    background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url("./assets/imagesOfMe/nature.JPG");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
   }
  .home-header {
    display: flex;
     flex-direction: column;
     margin-top: 10%;
  }
    .home-header-image{ 
      display: none;
   }
   .img-me {
    display: none;
   }
   .home-header-content h1 {
    font-size: 3rem;
    z-index: 3;
 }
 
 .home-header-content h3{
    font-size: 2rem;
    z-index: 3;
 }
 .home-header-content p{
    font-size: 1.5rem;
    width: 100%;
    max-width: 60ch;
    z-index: 3;
 }

 .header-one {
  position: static;
  transform: none;
  opacity: 0.6;
  left: 0;
  z-index: 2;
  overflow: hidden;
  }

  .header-one h2 {
    color: var(--tertiary) !important;
    font-size: 2rem !important;
    font-weight: 600;  
  }

  .header-two {
    position: static;
    transform: none;
    opacity: 0.6;
    left: 0;
    z-index: 2;
    overflow: hidden;
  }

  .header-two h2 {
    color: var(--tertiary) !important;
    font-size: 2rem !important;
    font-weight: 600;  
  }


 }

 @media screen and (max-width: 1200px){

  .home-section-container{
    height: 100vh;
    max-height: 100%;
    background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url("./assets/imagesOfMe/nature.JPG");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
   }
  .home-header {
    display: flex;
     flex-direction: column;
    margin: 10% auto;
  }
    .home-header-image{ 
      display: none;
   }
   .img-me {
    display: none;
   }
   .home-header-content h1 {
    font-size: 3rem;
    z-index: 3;
 }
 
 .home-header-content h3{
    font-size: 2rem;
    z-index: 3;
 }
 .home-header-content p{
    font-size: 1.5rem;
    width: 100%;
    max-width: 45ch;
    z-index: 3;
 }

 .header-one {
  position: static;
  transform: none;
  opacity: 0.6;
  left: 0;
  z-index: 2;
  overflow: hidden;
  }

  .header-one h2 {
    color: var(--tertiary) !important;
    font-size: 2rem !important;
    font-weight: 600;  
  }

  .header-two {
    position: static;
    transform: none;
    opacity: 0.6;
    left: 0;
    z-index: 2;
    overflow: hidden;
  }

  .header-two h2 {
    color: var(--tertiary) !important;
    font-size: 2rem !important;
    font-weight: 600;  
  }
 }

 @media screen and (max-width: 1599px){
  .header-one {
    position: static;
    transform: none;
    opacity: 0.6;
    left: 0;
    z-index: 2;
    overflow: hidden;
    }
  
    .header-one h2 {
      color: var(--tertiary) !important;
      font-size: 2rem !important;
      font-weight: 600;  
    }
  
    .header-two {
      position: static;
      transform: none;
      opacity: 0.6;
      left: 0;
      z-index: 2;
      overflow: hidden;
    }
  
    .header-two h2 {
      color: var(--tertiary) !important;
      font-size: 2rem !important;
      font-weight: 600;  
    }
 }